.titleText{
    position: absolute;
    width: 600px;
}
.titleText>p{
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
.titleText>p>span{
    width: calc(100%/var(--s));
    aspect-ratio: 1/1;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 1.5em;
    text-transform: uppercase;
    opacity: 0;
    animation: 0.5s loadInText linear;
    animation-fill-mode: forwards;
}
.titleText>p>span.blank{
    border: 0;
}

@keyframes loadInText {
    from{
        opacity: 0;
        transform: scale(0) translateX(-15px) translateY(-15px);
    }to{
        opacity: 1;
        transform: scale(1) translateX(0) translateY(0);
    }
}