@import url("https://fonts.googleapis.com/css2?family=Eater&family=Flow+Rounded&family=Gochi+Hand&family=Great+Vibes&family=League+Script&family=Nanum+Pen+Script&family=Pacifico&family=Pixelify+Sans&family=Qwigley&family=Redacted+Script&family=Syne+Tactile&family=Tilt+Neon&display=swap");

* {
  margin: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: var(--font-color);
  font-family: var(--font-family6);
}

:root {
  --background: black;
  --font-color: white;
  --font-family1: "Gochi Hand", cursive;
  --font-family2: "Pixelify Sans", sans-serif;
  --font-family3: "Pacifico", sans-serif;
  --font-family4: "Great Vibes", sans-serif;
  --font-family5: "Eater", sans-serif;
  --font-family6: "Tilt Neon", sans-serif;
  --font-family7: "Redacted Script", sans-serif;
  --font-family8: "Nanum Pen Script", sans-serif;
  --font-family9: "Syne Tactile", sans-serif;
  --font-family10: "League Script", sans-serif;
  --font-family11: "Qwigley", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: var(--background);
  /* height: 100vh; */
  overflow: hidden;
}
section {
  background: radial-gradient(rgba(255, 255, 255, 0.2) 8%, transparent 8%);
  background-position: 0% 0%;
  background-size: 3vmin 3vmin;
  width: 100%;
  height: 100%;
}
.card-content > h1 {
  padding: 0 100px;
  height: 100%;
  font-size: 20px;
  font-family: var(--font-family10);
}
@keyframes questionMove {
  from {
    transform: translateY(5px);
  }
  to {
    transform: translateY(-5px);
  }
}
.fontchanger {
  margin: 0 25px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  letter-spacing: 2px;
  width: 225px;
  height: 50px;
  font-size: 1.3em;
  text-shadow: 0 0 10px black;
  -webkit-box-reflect: below -20px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.2));
  animation: 10s fontChanger linear infinite;
}
@keyframes fontChanger {
  0% {
    font-family: var(--font-family6);
  }
  90% {
    font-family: var(--font-family6);
  }
  91% {
    font-family: var(--font-family2);
  }
  92% {
    font-family: var(--font-family3);
  }
  93% {
    font-family: var(--font-family4);
  }
  94% {
    font-family: var(--font-family1);
  }
  95% {
    font-family: var(--font-family1);
  }
  96% {
    font-family: var(--font-family7);
  }
  97% {
    font-family: var(--font-family8);
  }
  98% {
    font-family: var(--font-family9);
  }
  99% {
    font-family: var(--font-family10);
  }
  100% {
    font-family: var(--font-family11);
  }
}
.wText{
  animation: 0.5s sLeft linear; 
}
.myProjects{
  animation: 0.5s sRight linear; 
}
.modes {
  width: 100%;
  border: 0.1px solid rgba(255, 255, 255, 0.2);
  height: 100%;
}
.modes>a{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0;
  font-size: 1.5em;
  transition: 0.5s ease-in-out;
}
.modes>a:hover{
  cursor: pointer;
  background: #8a8a8a6b;
}
.modes>a>p{
  transition: 0.5s ease-in-out;
  font-size: 0em;
}
.modes>a:hover>p{
  font-size: 0.6em;
}

.changeMode > .card-content > button {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0;
  transition: 0.5s ease-in-out;
  font-size: 1.2em;
  letter-spacing: 2px;
  cursor: pointer;
}
.changeMode > .card-content > button:hover {
  background: #8a8a8a2f;
}
.changeMode > .card-content > button {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.changeMode > .card-content > button > span {
  font-size: 4em;
}

.binarySection {
  flex-direction: column;
}

.binarySection > * {
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  width: 100vmax;
}
.sectionHead {
  height: 10vh;
  animation: 0.5s sTop linear;
}
.sectionHead > *,
.sectionBody > *,
.sectionFoot > * {
  border: 0.5px solid rgba(255, 255, 255, 0.1);
  height: 100%;
  width: 30%;
}
.sectionHead > *:nth-child(1),
.sectionBody > *:nth-child(2) {
  width: 75%;
}
.sectionFoot > *:nth-child(1) {
  width: 80%;
}
.sectionBody {
  height: 70vh;
}
.sectionFoot {
  height: 20vh;
  /* animation: 0.5s sBot linear; */
}
.card {
  position: relative;
  transition: 0.5s ease-in-out;
}
.card:hover {
  border: 1.5px solid white;
}
.card::before {
  border-radius: inherit;
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgb(255, 255, 255, 0.12),
    transparent 40%
  );
  z-index: -2;
  opacity: 0;
  transition: opacity 500ms;
}

.card:hover::before {
  opacity: 1;
}
.card > .card-content {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.crazyLetters {
  position: absolute;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  letter-spacing: 2px;
  font-size: 19.9px;
  text-overflow: ellipsis;
  background: -webkit-linear-gradient(#eeeeee8b, #33333320);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sectionHeader > .card-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.sectionHeader > .card-content::before {
  content: "";
  position: absolute;
  background-image: url(images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100px;
  left: 0px;
  top: -2px;
  border-radius: 0 30px 30px 0;
}
.scrollInfo {
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    #fff 20%,
    #fff 80%,
    transparent
  );
}
.scrollInfo > div {
  position: absolute;
  display: flex;
  gap: 10px;
  white-space: nowrap;
  padding: 0 5px;
  animation: autoScroll var(--t) linear infinite;
  transform: translateX(100%);
}
.scrollInfo > div:nth-child(2) {
  animation-delay: calc(var(--t) / -2);
}
@keyframes autoScroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.scrollInfo > div > span {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 35px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  letter-spacing: 0.1em;
}
.scrollInfo > div > span:hover {
  cursor: pointer;
}
.scrollInfo > div > span > a {
  position: relative;
  display: flex;
  gap: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  padding: 0 10px;
  text-decoration: none;
  /* animation: rgb 5s linear infinite; */
}
.scrollInfo > div > span > a::before {
  content: "";
  position: absolute;
  background: var(--dataColor);
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: -5;
}
.scrollInfo > div > span > a:hover::before {
  opacity: 1;
}
.socialBox {
  flex-direction: column;
  padding: 10px;
}
@keyframes rgb {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.project {
  position: absolute;
  display: flex;
  min-width: 100%;
  height: 100%;
  left: 100%;
  bottom: 100%;
  opacity: 0;
  /* scale: 0; */
  transition: transform 0.5s, opacity 0.6s ease-in-out, left 0.5s ease-in-out,
    top 0.5s ease-in-out, scale 0.6s ease-in-out;
}
.project.remove {
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  /* opacity: 0; */
}
.project.focus {
  /* scale: 1; */
  left: 0;
  bottom: 0;
  opacity: 1;
}
.project > * {
  width: 60%;
  height: 100%;
}
.projectDetails {
  width: 40%;
}

.gallery {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
  padding: 20px;
}
.windowView {
  max-width: 75%;
  border-radius: 10px;
  border: 4px solid rgb(67, 67, 67);
}
.windowView::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: red;
}
.mobileView {
  position: absolute;
  inset: 35% 80%;
  max-width: 15%;
  border-radius: 10px;
  border: 4px solid rgb(67, 67, 67);
  transition: 0.5s ease-in-out;
}
.gallery:hover .mobileView {
  transform: translateX(-5px) translateY(-5px) scale(1.1);
}
.projectTitle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.projectTitle > h2,
.projectDetailBox > h2 {
  letter-spacing: 2px;
  font-family: var(--font-family3);
}
.projectTitle > h2 > span {
  text-decoration: none;
}
.projectTitle > a {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: smaller;
  color: aqua;
  font-family: var(--font-family4);
}
.projectDetailBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px;
  height: 85%;
}
.projectDetailBox > p {
  height: 85%;
}
.reactionBox {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 0;
  border-radius: 30px 0 0 30px;
  padding: 10px;
}
.reactionBox > button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  width: 50px;
  height: 30px;
  border-radius: 30px;
  transition: 0.5s ease-in-out;
}
.reactionBox > button:hover {
  cursor: pointer;
  border: 2px solid rgb(211, 0, 0);
  background: rgb(249, 69, 69);
  width: 60px;
  height: 30px;
  border-radius: 30px;
}
.reactionBox > button > ion-icon {
  font-size: 1.5em;
}

.projectBoxOption {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 30px;
  aspect-ratio: 1/1;
  border: 2px solid rgb(255, 255, 255, 0.2);
  transition: 0.5s ease-in-out;
}
.projectBoxOption:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

/* mouse trail */
/* added by mousetrail.js */

@media (orientation: landscape) {
  body {
    background-color: none;
  }
}

@media (orientation: portrait) {
  body{
    rotate: 90deg;
  }
  body>*{
    scale: 0.7;
  }
}
.social{
    transition: 0.5s ease-in-out;
}
.highlight{
    background: var(--dataColor);
    box-shadow: 0 0 2px white,inset 0 0 10px rgba(0, 0, 0, 0.1);
    animation: excited 0.5s ease-in-out;
}

@keyframes excited {
    from{
        transform: translate(0,1px);
    }to{
        transform: translate(0,-1px);
    }
}

@keyframes sTop{
  from{
    transform: translate(0,-100%);
    opacity: 0;
  }to{
    transform: translate(0,0);
    opacity: 1;
  }
}

@keyframes sBot{
  from{
    transform: translate(0,100%);
    opacity: 0;
  }to{
    transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes sRight{
  from{
    transform: translate(100%,0);
    opacity: 0;
  }to{
    transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes sLeft{
  from{
    transform: translate(-100%,0);
    opacity: 0;
  }to{
    transform: translate(0,0);
    opacity: 1;
  }
}

.canvas{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.timeline{
  position: relative;
  width: 100dvw;
  height: 100dvh;
  padding: 20px;
}

.movePageUp{
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: whitesmoke;
  overflow: hidden;
}
.movePageUp::before{
  content: '';
  position: absolute;
  width: 4px;
  height: 45px;
  background: black;
  translate: 0 23px;
  transition: 0.5s ease-in-out;
}.movePageUp:hover::before{
  translate: 0 10px;
}
.movePageUp>*{
  translate: 0 5px;
  color: black;
  font-size: 2.5em;
  transition: 0.5s ease-in-out;
}
.movePageUp:hover>*{
  translate: 0 -5px;
}
.timelineCon{
  position: absolute;
  height: 80dvh;
  width: 500px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
}
.timeline-container{
  position: absolute;
  bottom: 0;
  height: 100%;
  padding-top: 20px;
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
  overflow: hidden;
  overflow-y: scroll;
}
.timeline-box{
  position: relative;
  width: 500px;
  min-height: 100%;
  padding-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 20px;

}
.timeline-box::before{
  content: '';
  position: absolute;
  width: 1px;
  height: 90%;
  background: whitesmoke;
}
.memory-box{
  position: relative;
  display: flex;
  width: 98%;
  opacity: 1;
  justify-content: space-between;
  /* border: 1px solid rgba(255, 255, 255, 0.216); */
  animation: 0.5s sBot linear both;
  animation-delay: var(--p);
}
.memory-box::before{
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: white;
  left: 49%;
  border-radius: 50%;
  border:3px solid black;
  outline: 2px solid white;
}
.memory-box>*{
  width: 50%;
  padding: 5px 10px;
  text-align: center;
}
.memory-place{
  padding: 0 15px;
  border-radius: 10px;
  overflow: hidden;
}

.works{
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.213);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: smaller;
  overflow: hidden;
}
.works>span{
  position: absolute;
  right: -10px;
  bottom: -10px;
  font-size: 5em;
  color: rgba(255, 255, 255, 0.21);
  transition: 0.5s cubic-bezier( 0.85, 0.07, 0.32, 0.95 ) ;
}
.works:hover>span{
  position: absolute;
  right: 10px;
  bottom: -30px;
  font-size: 6em;
  color: rgba(255, 255, 255, 0.4);
  text-shadow: 15px -15px rgba(255, 255, 255, 0.1),30px -30px rgba(255, 255, 255, 0.05);
}
.workplace,.position{
  display: flex;
  padding: 5px ;
}

.position{
  font-size: 1.2em;
  font-family: var(--font-family6);
  letter-spacing: 2px;
  text-shadow: 0 0 5px black,0 0 10px black;
}
.imageCon>img{
  height: 100%;
  background-clip: inherit;
}
.memory-date{
  font-size: 1.3em;
  letter-spacing: 2px;
}

/* width */
::-webkit-scrollbar {
  cursor: pointer;
  height: 5px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: rgba(128, 128, 128, 0.1);
  transition: 0.5s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.593);
  cursor: pointer;
}

.yearOpt{
  position: absolute;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  bottom: -50px;
  left: -5px;
  padding:5px;
  overflow: hidden;
  gap: 10px;
  overflow-x: scroll;
}
.yearOpt>button{
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.341);
  border-radius: 10px;
  padding: 0 15px;
  font-size: 1em;
  letter-spacing: 1px;
}

.Mystory{
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 58%;
  height: 90%;
  /* box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.05),inset 0 0 50px rgba(255, 255, 255, 0.05),inset 0 0 25px rgba(255, 255, 255, 0.05),inset 0 0 10px rgba(255, 255, 255, 0.1); */
  padding: 20px;
}
.businessCard{
  position: relative;
  border: 1px solid #ffffff26;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  /* background: #ffffff10; */
  padding: 20px;
  display: flex;
}
.businessCard>.photoBox{
  position: relative;
  display: flex;
  background: rgba(255, 255, 255, 0.05);
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 20px;
  border: 1px solid #ffffff26;
  outline: 1px solid transparent;
  transition: 0.5s ease-in-out;
}
.businessCard>.photoBox:hover{
  outline: 1px solid rgba(255, 255, 255, 0.513);
}
.businessCard>.photoBox::before{
  content: '💬';
  position: absolute;
  top: -10px;
  left: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 0.8em;
  border-radius: 10px;
  padding: 3px 10px;
  opacity: 0.5;
  backdrop-filter: blur(30px);
  transition: 1s ease-in-out;
}
.businessCard>.photoBox:hover::before{
  opacity: 1;
  content: 'Just Coding 💻';
  animation: 0.5s quickPop linear;
}
@keyframes quickPop {
  from{
    opacity: 0;
    transform: translateY(10px);
  }to{
    opacity: 1;
    transform: translateY(0px);
  }
}
.businessCard>.photoBox>img{
  width: 90%;
  position: absolute;
  bottom: 0;
  transform: rotateX(-15deg) translateY(5px);
  transform-origin: bottom;
  transition: 0.5s ease-in-out;
}
.businessCard>.photoBox>img:hover{
  transform: rotateX(0deg) translateY(3px);
  filter: drop-shadow(0 -10px 10px black) drop-shadow(-10px -10px 30px rgba(0, 0, 0, 0.157)) ;
}
.photoBoxBackground{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-image: url(images/thinker.png);
  background-position: 120% -10%;
  background-size: 150%;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: -10;
}
.businessCard>.photoBox>ion-icon{
  position: absolute;
  font-size: 2.5em;
  animation: 2s movingUD linear alternate infinite;
  transform-origin: left bottom;
  color: #ff4525;
  top: 50%;
  left: 50%;
  z-index: -10;
  opacity: 0;
  
  transition:2s opacity ease-in-out, 0.5s ease-in-out;
}
.businessCard>.photoBox:hover>ion-icon{
  z-index: 10;
  opacity: 1;
}
.businessCard>.photoBox:hover>.heart{
  top: 30px;
  left: 30px;
}
.businessCard>.photoBox:hover>.desktop{
  top: 85%;
  left: 75%;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-size: x-large;
}
.businessCard>.photoBox:hover>.heart2{
  top: 70px;
  left: 220px;
  font-size: 1.8em;
  animation-delay: 0.5s;
}
@keyframes movingUD {
  from{
    transform: translateY(2px) rotate(3deg);
  }to{
    transform: translateY(-2px) rotate(-3deg);
  }
}
.bInfoBox{
  position: relative;
  width: 100%;
  height: 100%;
}
.bInfoBox>.name{
  display: flex;
  justify-content: space-between;
  padding: 0 10px 20px 10px;
  margin: 0 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.429);
  letter-spacing: 1.5px;
}
.bInfoBox>.name>p{
  position: relative;
  font-size: 1.8em;
  width:50%;
}
.bInfoBox>.name>p::after{
  content: 'Sakuta Seiya';
  position: absolute;
  left: 0;
  bottom: -10px;
  font-size: 10px;
}
.bInfoBox>.name>p::before{
  content: 'The one who codes';
  position: absolute;
  left: 40%;
  bottom: -10px;
  font-size: 10px;
  font-family: var(--font-family7);
}
.positions{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  width: 40%;
  right: 10px;
}
.positions>span{
  font-size: 1em;
  color: tomato;
  transform-origin: right;
  -webkit-box-reflect: below 0px linear-gradient(transparent,#0004);
  animation: 0.5s movingPositions linear;
}

@keyframes movingPositions {
  from{
    transform: scale(0);
    opacity: 0;
  }to{
    transform: scale(1);
    opacity: 1;
  }
}

.bInfoTable{
  margin: 10px;
  border: 1px solid white;
  height: 190px;
}
.bInfoTable .row{
  display: flex;
  justify-content: space-evenly;
}
.bInfoTable .column{
  display: flex;
  flex-direction: column;
}